In [1]:
import pandas as pd

In [2]:
def conta_righe(file_path):
    with open(file_path, 'r') as file:
        numero_righe = len(file.readlines())
    return numero_righe

In [7]:
file_path_1 = "input/merged_data_1.csv"  # Inserisci il percorso del tuo file qui
file_1 = pd.read_csv(file_path_1)
numero_di_righe_1 = conta_righe(file_path_1)
print("Il file ha", numero_di_righe_1, "righe.")
file_1
rows = file_1.iloc[18443628:18443645]  
print(rows)

Il file ha 24591505 righe.
         ticker   open  close  adj_close    low   high  volume        date  \
18443628    DH3  50.11  90.20   8.493155  79.00  76.29  186798  1999-05-08
18443629    DH3  43.53  43.33   8.493155  47.51  70.19  108236  1999-05-09
18443630    DH3  23.69  97.29   8.493155   8.46  42.46  144406  1999-05-10
18443631    DH3   8.86  57.07   8.493155  80.01  21.83  147029  1999-05-11
18443632    DH3  47.34  61.04   8.493155  75.40  90.06  284378  1999-05-12
18443633    DH3  23.79  37.31   8.493155  24.04  88.88  181034  1999-05-13
18443634    DH3  87.49  36.93   8.493155  55.11  80.76  159157  1999-05-14
18443635    DH3  38.29  45.66   8.493155  51.26   3.17  119912  1999-05-15
18443636    DH3  69.70  10.58   8.493155  72.32  13.79  117057  1999-05-16
18443637    DH3  35.52  41.85   8.493155  59.13  45.35  186792  1999-05-17
18443638    DH3  72.03  86.30   8.493155  47.47  73.50  290979  1999-05-18
18443639    DH3  90.04  14.41   8.493155  97.97  86.33  220534  1999-05-19
18443640    DH3   7.22  93.66   8.493155  31.81  25.41  242033  1999-05-20
18443641    DH3  16.74  31.13   8.493155  30.17  31.71  232251  1999-05-21
18443642    DH3  91.39  24.41   8.493155  90.88  47.28  167155  1999-05-22
18443643    DH3  59.02  27.68   8.493155  82.79  14.23  290582  1999-05-23
18443644    DH3  72.16  12.23   8.493155  96.16  70.85  227667  1999-05-24

         exchange       name   sector    industry
18443628     NYSE  Company 1  FINANCE  Industry 1
18443629     NYSE  Company 1  FINANCE  Industry 1
18443630     NYSE  Company 1  FINANCE  Industry 1
18443631     NYSE  Company 1  FINANCE  Industry 1
18443632     NYSE  Company 1  FINANCE  Industry 1
18443633     NYSE  Company 1  FINANCE  Industry 1
18443634     NYSE  Company 1  FINANCE  Industry 1
18443635     NYSE  Company 1  FINANCE  Industry 1
18443636     NYSE  Company 1  FINANCE  Industry 1
18443637     NYSE  Company 1  FINANCE  Industry 1
18443638     NYSE  Company 1  FINANCE  Industry 1
18443639     NYSE  Company 1  FINANCE  Industry 1
18443640     NYSE  Company 1  FINANCE  Industry 1
18443641     NYSE  Company 1  FINANCE  Industry 1
18443642     NYSE  Company 1  FINANCE  Industry 1
18443643     NYSE  Company 1  FINANCE  Industry 1
18443644     NYSE  Company 1  FINANCE  Industry 1

In [8]:
file_path_2 = "input/merged_data_2.csv"  # Inserisci il percorso del tuo file qui
file_2 = pd.read_csv(file_path_2)
numero_di_righe_2 = conta_righe(file_path_2)
print("Il file ha", numero_di_righe_2, "righe.")
file_2

Il file ha 30739381 righe.

,ticker,open,close,adj_close,low,high,volume,date,exchange,name,sector,industry
0,AHH,11.50,11.58,8.493155,11.25,11.68,4633900,2013-05-08,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
1,AHH,11.66,11.55,8.471151,11.50,11.66,275800,2013-05-09,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
2,AHH,11.55,11.60,8.507822,11.50,11.60,277100,2013-05-10,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
3,AHH,11.63,11.65,8.544494,11.55,11.65,147400,2013-05-13,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
4,AHH,11.60,11.53,8.456484,11.50,11.60,184100,2013-05-14,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
...,...,...,...,...,...,...,...,...,...,...,...,...
30739375,L5L,26.47,62.27,8.493155,95.89,17.41,218718,2018-02-19,NYSE,Company 6148,FINANCE,Industry 6148
30739376,L5L,67.04,57.53,8.493155,42.03,10.98,175206,2018-02-20,NYSE,Company 6148,FINANCE,Industry 6148
30739377,L5L,58.89,8.02,8.493155,17.47,50.40,155774,2018-02-21,NYSE,Company 6148,FINANCE,Industry 6148
30739378,L5L,82.50,69.82,8.493155,82.62,94.67,209298,2018-02-22,NYSE,Company 6148,FINANCE,Industry 6148
30739379,L5L,30.14,96.00,8.493155,37.76,29.25,255158,2018-02-23,NYSE,Company 6148,FINANCE,Industry 6148

In [9]:
file_path_3 = "input/merged_data_3.csv"  # Inserisci il percorso del tuo file qui
file_3 = pd.read_csv(file_path_3)
numero_di_righe_3 = conta_righe(file_path_3)
print("Il file ha", numero_di_righe_3, "righe.")
file_3

Il file ha 36887258 righe.

,ticker,open,close,adj_close,low,high,volume,date,exchange,name,sector,industry
0,AHH,11.50,11.58,8.493155,11.25,11.68,4633900,2013-05-08,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
1,AHH,11.66,11.55,8.471151,11.50,11.66,275800,2013-05-09,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
2,AHH,11.55,11.60,8.507822,11.50,11.60,277100,2013-05-10,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
3,AHH,11.63,11.65,8.544494,11.55,11.65,147400,2013-05-13,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
4,AHH,11.60,11.53,8.456484,11.50,11.60,184100,2013-05-14,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
...,...,...,...,...,...,...,...,...,...,...,...,...
36887252,MJM,44.56,5.29,8.493155,61.26,38.13,277875,2017-10-19,NYSE,Company 9222,FINANCE,Industry 9222
36887253,MJM,50.68,60.61,8.493155,85.30,43.98,171695,2017-10-20,NYSE,Company 9222,FINANCE,Industry 9222
36887254,MJM,53.91,3.29,8.493155,10.09,80.24,170819,2017-10-21,NYSE,Company 9222,FINANCE,Industry 9222
36887255,MJM,18.44,41.20,8.493155,47.59,53.85,177284,2017-10-22,NYSE,Company 9222,FINANCE,Industry 9222
36887256,MJM,94.49,40.62,8.493155,87.46,28.29,249950,2017-10-23,NYSE,Company 9222,FINANCE,Industry 9222